<!DOCTYPE html>
{% extends "base.html" %}



{% block body %}
<h1 align = "left" p style = "font-size:12px">{{date_time}}</h1>
<h2 align = "left" p style = "font-size:14px">{{data_set}}</h2>



<img src = {{tmp_loc}} align = "middle">

<h3 align = "left" p style = "font-size:14px">Dataset Parameters:</h3>

{% for name, parameter in parameters %}
<p><h4 p style = "font-size:12px; font-weight:bold">{{name}}: {{ parameter }}</h4></p>
{% endfor %}

<h5 align = "left" p style = "font-size:14px">Notes:</h5>

{% for paragraph in paragraphs %}
<p>{{ paragraph }}</p>
{% endfor %}

{% endblock %}